# Android
build/
.gradle/
*.apk
*.aab
*.ap_
*.dex
local.properties
.cxx/
*.o
*.so

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads/

# IDE
.idea/
*.iml
.DS_Store
Thumbs.db
*.swp
*.swo
